# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment secrets
.env

# IDE
.idea/

# Logs
logs/
*.log

# Local data
data/bronze/
data/silver/
data/gold/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db